<div class="page-header">
  <%= link_to inboxes_path, class: 'btn btn-default' do %>
    All Inboxes
  <% end %>
  <%= link_to edit_inbox_path(@inbox), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show inbox</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @inbox.name %></dd>
</dl>
